{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center flex-row bd-highlight">
    <div class="d-flex justify-content-center flex-column bd-highlight">
        {% for item in sp %}
            <div class="p-2 bd-highlight">
                {% if sp[item] != '' and item != 'master_id'%}
                {{ item }} : {{ sp[item] }}
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <form method="POST" action="/hostels/current/0">
        <input name="calendar" placeholder="Календарь" type="date"/>
        <p>Комментарий<Br>
            <textarea name="comment" cols="40" rows="3"></textarea></p>
        <p><input type="submit" value="Отправить">
        {{ err }}
    </form>

</div>
{% endblock %}