{% extends "base.html" %}

{% block content %}
<div class="d-flex flex-row bd-highlight mb-3">
    <div class="d-flex flex-column bd-highlight mb-3">
        <h1>Фильтр</h1>
        <form method="post" action="/hostels/page/1">
            <label for="year[]" multiple="multiple"></label>
            <select name="year[]" id="year[]">
                {% for item in alt_h %}
                <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
            <p><input type="submit" value="Отправить">
        </form>

    </div>
    <div class="d-flex flex-column bd-highlight mb-3">
        {% for item in range(10) %}
        <a class='btn_s hide' href="/hostels/current/{{ (page_num - 1) * 10 + item + 1}}">
        <div class="d-flex flex-row bd-highlight p-3">
            <img class='hostels p-3' src="/static/images/{{ (item % 5) + 1 }}.png">
            <div class="hide bd-highlight p-3">{{ content[item].Title }}</div>
            <br>
            <div class="bd-highlight p-3">{{ content[item].Description }}</div>
        </div>
        </a>
        {% endfor %}
        {% if page_num == 1%}
        <a class="btn" href="/hostels/page/{{ page_num + 1 }}">Следующая</a>
        {% elif page_num == 1314%}
        <a class="btn" href="/hostels/page/{{ page_num - 1 }}">Предыдущая</a>
        {% else %}
        <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bd-highlight"><a class="btn" href="/hostels/page/{{ page_num - 1 }}">Назад</a>
            </div>
            <div class="p-2 bd-highlight"><a class="btn"
                                             href="/hostels/page/{{ page_num + 1 }}">Следующая</a></div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}