{% extends "base.html" %}

{% block content %}

<div class="index_container d-flex flex-row bd-highlight">
    <!--  <div><img src="/static/images/-1.jpg"></div>-->
    <div class="index_div">
        <div>
            Вас приветствует сайт O-tels.<br><br>
            Здесь вы можете забронировать отели в любом городе.
        </div>
        <br>
        <div>
            <a class="btn" href="/register"><strong>Зарегистрироваться -></strong></a>
        </div>
        <div>
            <a class="btn" href="/login">Войти -></a>
        </div>
    </div>
</div>
{% endblock %}